.oxmod-wx-subscript {
  /* CSS */
  text-align: center;
  font-size: 14px;
  color: #333;
}
.oxmod-wx-subscript .logo {
  background-color: #f0eff5;
  border-width: 1px 0;
  border-style: solid;
  border-color: #dcdcdc;
  text-align: left;
  padding: 5px 15px;
}
.oxmod-wx-subscript .logo img {
  width: 232px;
}
.oxmod-wx-subscript .title {
  font-size: 18px;
  font-weight: 400;
  line-height: 2;
  margin-top: 10px;
}
.oxmod-wx-subscript .subtitle {
  font-size: 16px;
  font-weight: 400;
  padding: 2px 10px;
}
.oxmod-wx-subscript .list {
  padding: 10px;
  margin: 0;
  text-align: left;
  color: #666;
  padding-left: 22px;
}
.oxmod-wx-subscript .list li {
  list-style: disc;
  padding: 5px 0;
}
.oxmod-wx-subscript .btn {
  color: #fff;
  height: 40px;
  line-height: 40px;
  background-color: #00b919;
  border: none;
  width: 90%;
  border-radius: 6px;
  font-size: 15px;
  text-decoration: none;
  display: inline-block;
}
